section.awards
	.container
		.awards__title Аналитика, отмеченная наградами
		.awards__text Куда инвестировать? Прислушайтесь к аналитикам Freedom Finance. <br>
			|  Рекомендации по сбалансированным портфелям и прибыльные идеи инвестиций — еженедельно и бесплатно.
		.awards__slider.js-awards-carousel
			.swiper-wrapper
				.awards-card.awards__slide.swiper-slide
					.awards-card__icon-top
						+icon('award')
					.awards-card__title "Рекомендации Freedom Finance — лучшие!"
					.awards-card__text Рекомендации по акциям Beyond Meat и Zoom Video заняли
						|  <span>1-е место</span> в рейтинге Bloomberg по точности прогноза
					.awards-card__icon-bottom.awards-card__icon-bottom--reviewer-1
						+icon('reviewer-1')(width='184', height='34')
				.awards-card.awards__slide.swiper-slide
					.awards-card__icon-top
						+icon('award')
					.awards-card__title Аналитический центр Freedom Finance признан лучшим
						|  в 2020 году по версии Global Banking & Finance Review
					.awards-card__text На премию были номинированы тысячи участников из 100 стран мира
					.awards-card__icon-bottom.awards-card__icon-bottom--reviewer-2
						+icon('reviewer-2')(width='197', height='50')