section.brands
	.container
		.brands__wrapper
			img.brand-1(src='images/brands/1.png', srcset='images/brands/1@2x.png 2x', alt='')
			img.brand-2(src='images/brands/2.png', srcset='images/brands/2@2x.png 2x', alt='')
			img.brand-3(src='images/brands/3.png', srcset='images/brands/3@2x.png 2x', alt='')
			img.brand-4(src='images/brands/4.png', srcset='images/brands/4@2x.png 2x', alt='')
			img.brand-5(src='images/brands/5.png', srcset='images/brands/5@2x.png 2x', alt='')