section.first-screen
	.container
		+title-block('Инвестиции для каждого',
			'Инвестируйте в акции, ETF и облигации без комиссий. ' +
			'Участвуйте в IPO и приумножайте сбережения ' +
			'на накопительном D-счете. <br class="mob">' +
			'Заставьте свои деньги зарабатывать!',
			'first-screen__title-block')
		+button('Открыть счет', 'first-screen__btn', '', '#')
		.first-screen__awards
			.first-screen__awards-item
				img(src='images/awards/1.png', srcset='images/awards/1@2x.png 2x', alt='')
				span Листинг на бирже Nasdaq
			.first-screen__awards-item
				img(src='images/awards/2.png', srcset='images/awards/2@2x.png 2x', alt='')
				span Рейтинг B. Стабильный прогноз
		.first-screen__image
			img(src='images/banner/1.png', srcset='images/banner/1@2x.png 2x', alt='')