section.form
	.container
		.form__title Инвестируйте с одним из самых <br> динамично растущих брокеров Европы!
		form.js-form-validate(action='', method='POST')
			+field('input', 'email', 'email', 'form__field', 'E-mail (login)')(required = true)
			+field('input', 'password', 'password', 'form__field form__field--height js-pass', 'Password', true)(required = true)
			+checkbox('agreement', 'form__agreement', 'I agree with the processing of my <a href="#" target="_blank">Personal Data</a>')
			//.form__row
				+field('input', 'date', 'birthdate', 'form__field', 'Date of birth')
				+field('input', 'tel', 'phone', 'form__field', 'Phone number')
			//+field('textarea', 'text', 'object', 'form__field form__field--textarea', 'Object')
			//select.js-select-place.field
				option
				option New York
				option Los Angeles
				option Chicago
				option Houston
				option Phoenix
				option Philadelphia
				option San Antonio
				option San Diego
				option Dallas
				option San Jose
			//select.js-select-gender.field
				option
				option Male
				option Female
			+button('Открыть счет', 'button--large form__submit')(type='submit')