section.license
	.container
		.license__title Ваши деньги под защитой
		.license__wrapper
			.license__text Мы — Freedom Finance Europe Ltd, европейская дочка Freedom Holding Corp с капитализацией $3,8 млрд.
				|  Единственный европейский брокер с листингом на Nasdaq. Обладаем европейской лицензией и подотчетны
				|  трём<span class="swap-1">&nbspрегуляторам (CySEC, BaFin и SEC)</span>. Прозрачны, надежны и открыты для каждого.
			.license__icon
				+icon('logo-license')