form.search-block(action='', method='POST')
	+field('input', 'search', 'search', 'field--small search-block__field', 'Search...')
	+button('', 'button--small button--light search-block__submit', 'lupa')(type='submit')