-
	const MENU = [
		{
			url: '#',
			text: 'Catalogue'
		},
		{
			url: '#',
			text: 'IPO'
		},
		{
			url: '#',
			text: 'How It Works'
		},
		{
			url: '#',
			text: 'About Us'
		},
		{
			url: '#',
			text: 'Service Plans'
		},
		{
			url: '#',
			text: 'News'
		},
		{
			url: '#',
			text: 'InvestIdeas'
		},
		{
			url: '#',
			text: 'FAQ'
		}
	];