/* Breakpoints */
$media-list: (
	'xxs': 374,
	'xs': 560,
	'sm': 639,
	'md': 1199,
	'xl': 1599,
	'xxl': 1900,
);

/* Fonts */
$mainFont: 'FFGoodPro', sans-serif;
$robotoFont: 'Roboto', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$gray-57: #57585e;
$gray-f8: #f8f8f8;
$gray-e5: #e5e5e5;
$gray-99: #999999;
$gray-cc: #cccccc;
$gray-f0f2: #f0f2f4;
$gray-f0: #f0f0f0;
$light-green: #4caf50;
$pear: #72bf44;
$mint: #b4dfa2;
$pistachio: #e5f5e0;
$parakeet: #63af3c;
$red: #cc0e00;
